<!DOCTYPE html>
<html>
  <title>De VKW Babbelbox</title>
  <head>
    <link href="../static/main.css" rel="stylesheet">
  </head> <body>

<div class="container">

  <h1>De VKW Babbelbox</h1>
    <h2 id="demo"></h2>

  <div class="group">

    <form method="post" action="/">
      <input type="submit"  class="button button3" value="Video opnemen" name="Videoopnemen"/>
      <input type="submit"  class="button" value="Foto maken" name="Fotomaken"/>

    </div>
    <div class="group">
      <input type="submit" class="button button4" value="Video afspelen" name="Videoafspelen"/>
      <input type="submit" class="button button4" value="Foto kijken" name="Fotokijken"/>
      <!-- <input type="submit" class="button button4" value="tester" name="tester"/> -->

    </div>

  </form>


 </div>
 <!-- Javascript library to be put ofline -->
<script type="text/javascript" src="../static/socket.io.min.js"></script>

<script type="text/javascript" src="../static/main.js"></script>
</body>
</html>
