<!DOCTYPE html>
<html lang="en" dir="ltr">

  <title>Record Video Page</title>
  <head>
    <link href="../static/main.css" rel="stylesheet">
  </head>
<body>

<div class="container">
  <form action="{{url_for('entry')}}" method="POST">
  <button class="button button2"  type="submit"> Start Pagina </button>
</form>
<!-- <form id="buttonid" method="POST" action="/">
  <input type="submit"  class="button button3" value="Video opnemen" name="Videoopnemen"/>
</form> -->
<h1> De opname is gestart </h1>
    <h2 id="demo"></h2>
</div>


<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" src="../static/main.js"></script>


  </body>
</html>
