<!DOCTYPE html>
<html lang="en" dir="ltr">

  <title>View Page</title>
  <head>
    <link href="../static/main.css" rel="stylesheet">
  </head>
<body>
<div class="container">
  <!-- <div class="header100"> -->

<!-- </div> -->
<div id="container1">
    <div id="container1 columnleft">
      <form action="{{url_for('entry')}}" method="POST">
      <button class="buttonsmall buttonsmall4" type="submit" align="center"> Start Pagina </button>
      </form>
        <form method="post" action="/">
          <input type="submit"  class="buttonsmall buttonsmall3" value="Video opnemen" name="Videoopnemen"/><br>
          <input type="submit" class="buttonsmall buttonsmall4" value="Video afspelen" name="Videoafspelen"/><br>
          <input type="submit"  class="buttonsmall" value="Foto maken" name="Fotomaken"/><br>
          <input type="submit" class="buttonsmall buttonsmall4" value="Foto kijken" name="Fotokijken"/>
        </form>
    </div>
  </div>
<!-- {{data}} -->
      <div id="columnright">
        <h2 id="demo"></h2>
          <div id="columnright columnmid">
              <img source src={{data}} width=600 height=400 >
          </div>
      </div>
    </div>
</div>



<script type="text/javascript" src="../static/socket.io.min.js"></script>
<script type="text/javascript" src="../static/main.js"></script>
  </body>
</html>
